@tailwind base;

@layer base {
  body {
    @apply leading-loose bg-white text-black dark:bg-slate-950 dark:text-slate-100;
  }

  fieldset {
    @apply flex flex-col space-y-2;
  }

  legend {
    @apply text-xl;
  }

  input {
    @apply ml-3 border [&[type=checkbox]]:ml-0 [&[type=checkbox]]:mr-3;
  }

  /* text-colors handled in `Color.ts` */
  input[type='number'] {
    @apply px-1 py-0.5 disabled:bg-slate-50 dark:bg-slate-900 dark:disabled:bg-slate-700 opacity-100;
  }

  summary {
    @apply max-w-max cursor-pointer;
  }

  button,
  [type='button'] {
    @apply rounded bg-stone-600 px-3 py-2 leading-normal text-white transition-colors hover:bg-stone-600/[.85] focus-visible:bg-stone-600/[.85];
  }

  ul,
  ol {
    @apply ml-8 space-y-2;
  }

  li > ul,
  li > ol {
    @apply mt-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    line-height: 1;
    padding: 1px 4px;
    white-space: nowrap;
    margin-left: 1px;
    margin-right: 1px;
  }

  a {
    @apply text-blue-600 underline transition-colors hover:text-blue-800 focus:text-blue-800;
    @apply dark:text-rose-200 dark:hover:text-rose-300 dark:focus:text-rose-300;
  }
}

@tailwind components;

@layer components {
  /* give equations invisible horizontal scrollbars if they're too wide */
  mjx-container[jax='CHTML'] {
    overflow-x: auto;
    overflow-y: hidden; /* might have to undo this if anything gets cut off, or apply it only to not-display */
    max-width: 100%;
    min-width: 0px !important;
    scrollbar-width: none; /* for FF (webkit pseudoelement rule below) */
  }
  mjx-container[jax='CHTML']::-webkit-scrollbar {
    display: none; /* make scrollbars invisible in webkit */
  }
  mjx-container[jax='CHTML'][display='true'] {
    padding: 0.11rem 0; /* otherwise some display eqs cut off a bit at top/bottom */
  }
  mjx-container[jax='CHTML']:not([display='true']) {
    display: inline-flex; /* inline-block ruins vertical alignment (unfixable w/ `vertical-align`) */
    padding: 0 0.11rem; /* otherwise some inline eqs cut off a bit on left/right */
    margin: 0 -0.11rem; /* "undo" padding to keep in right position w/ text */
  }
  mjx-assistive-mml {
    max-width: 100%;
  }
  /* adjust equation label vertically */
  mjx-container[jax='CHTML'][display='true'] mjx-mtext {
    transform: translateY(-0.14em);
  }
}

@tailwind utilities;

/* b/c otherwise dark-mode causes problems */
.MJX_LiveRegion,
.MJX_HoverRegion,
.MJX_ToolTip,
.MJX_LiveRegion *,
.MJX_HoverRegion *,
.MJX_ToolTip *,
[sre-highlight] {
  background-color: inherit !important;
  color: inherit !important;
}
