@tailwind base;

@layer base {
  body {
    @apply leading-loose;
  }

  fieldset {
    @apply flex flex-col space-y-2;
  }

  legend {
    @apply text-xl;
  }

  input {
    @apply ml-3 border px-1 leading-normal [&[type=checkbox]]:ml-0 [&[type=checkbox]]:mr-3;
  }

  summary {
    @apply max-w-max cursor-pointer;
  }

  button,
  [type='button'] {
    @apply rounded bg-stone-600 py-2 px-3 leading-normal text-white transition-colors hover:bg-stone-600/[.85] focus-visible:bg-stone-600/[.85];
  }

  ul {
    @apply ml-4 list-disc space-y-2;
  }

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }
}

@tailwind components;

@layer components {
  /* give equations invisible horizontal scrollbars if they're too wide */
  mjx-container[jax='CHTML'] {
    overflow-x: auto;
    overflow-y: hidden; /* might have to undo this if anything gets cut off, or apply it only to not-display */
    max-width: 100%;
    min-width: 0px !important;
    scrollbar-width: none; /* for FF (webkit pseudoelement rule below) */
  }
  mjx-container[jax='CHTML']::-webkit-scrollbar {
    display: none; /* make scrollbars invisible in webkit */
  }
  mjx-container[jax='CHTML'][display='true'] {
    padding: 0.11rem 0; /* otherwise some display eqs cut off a bit at top/bottom */
  }
  mjx-container[jax='CHTML']:not([display='true']) {
    display: inline-flex; /* inline-block ruins vertical alignment (unfixable w/ `vertical-align`) */
    padding: 0 0.11rem; /* otherwise some inline eqs cut off a bit on left/right */
    margin: 0 -0.11rem; /* "undo" padding to keep in right position w/ text */
  }
  mjx-assistive-mml {
    max-width: 100%;
  }
  /* adjust equation label vertically */
  mjx-container[jax='CHTML'][display='true'] mjx-mtext {
    transform: translateY(-0.14em);
  }
}

@tailwind utilities;
